.dark-mode {
  margin: 0;
  background: #162129;
  font-family: "Inter", sans-serif;
  color: #ffffff;
}

#container {
  width: 550px;
  background: #1f2937;
  margin: 1rem auto;
  padding: 0 0 1.5rem 0;
  filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
  border-radius: 5px;
}

.hero {
  background: #6943ff;
  width: 550px;
  height: 260px;
  display: flex;
  flex-direction: column;
  margin: 0 auto 1.5rem auto;
  padding-bottom: 1rem;
  border-radius: 5px;
}

h1 {
  color: #ffffff;
  font-size: 28px;
  line-height: 36px;
  margin: 1.5rem auto;
}

#inputEl {
  width: 117px;
  height: 83px;
  margin: 0.5rem auto;
  border-radius: 5px;
  border: 2px solid #b295ff;
  background: #6943ff;
  color: #ffffff;
  font-size: 80px;
  text-align: center;
  font-weight: bold;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#btn-convert {
  margin: 1rem auto;
  padding: 9px 25px;
  border-radius: 5px;
  background: #ffffff;
  color: #3d3d3d;
  font-size: larger;
  font-weight: bold;
  border: 1px solid #ffffff;
}

.conversions {
  display: flex;
  flex-direction: column;
}

.conversion-container {
  background: #273549;
  margin: 23px auto;
  width: 500px;
  height: 108px;
  padding: 10px, 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.conversion-results h3 {
  color: #ccc1ff;
  font-size: 22px;
}
